__pycache__/
*.pyc
*.pyo
*.pyd
.git/
.idea/
venv/
runs/
logs/
dist/
weights/*.pt
weights/*.wts
weights/*.onnx
weights/*.mlmodel
weights/*.engine
*.pt
*.mp4
inference/output/
inference/output2/
annotation_data/
