YOLO_BACKEND_PORT=5001
YOLO_BACKEND_URL=http://127.0.0.1:5001
YOLO_API_KEY=change-this-token
YOLO_APP_VERSION=dev
YOLO_APP_DATA=./annotation_data
YOLO_APP_RUNS=./runs
YOLO_APP_WEIGHTS=./weights
YOLO_APP_LOGS=./logs
